page-get-started {
	.emblem_image {
		padding-top: 60px;
	}
	.title{
		padding-top: 50px;
		padding-bottom: 30px;
		display: block;
		font-size: 24px !important;
		font-weight: bold !important
	}
	.SignIn {
		position: absolute;
		bottom: 0;
	}
	.log {
		padding-bottom: 9px;
	}
}
