<ion-header>
  <ion-navbar hideBackButton color="BuKo">
    <ion-title>BuhayKomyuter</ion-title>
  </ion-navbar>
</ion-header> 

<ion-content fullscreen (swipe)="onSwipeTry($event)">
  <ion-segment color="BuKo" [(ngModel)]="loadfirst">
    <ion-segment-button (click)="NearbyPosts()" value="nearby">
        Nearby Posts
    </ion-segment-button>
    <ion-segment-button (click)="GetPosts()" value="allposts">
        All Posts
    </ion-segment-button>
  </ion-segment>
<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
<ion-list>
  <ion-card (click)="Dashboard();">
    <ion-list>
       <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/generic-avatar.png">
          </ion-avatar>
            <h4>How's your commuting experience?</h4>
        </ion-item>
    </ion-list>
  </ion-card>
  <hr>
</ion-list>
    <ion-card *ngFor="let post of posts">
      <ion-item>
       <ion-avatar item-start>
           <img src="assets/imgs/generic-avatar.png">
       </ion-avatar>
            <h2>{{ post.user.name }}</h2>
            <p> {{ post.created_at | moment }} </p>
      </ion-item>
      <ion-row class="info">
        <p>posted about {{ post.puv }}</p>&nbsp;
        <img class="rideicon" src="assets/icon/{{ post.puv }}.png">
        <p>{{ post.location }}</p>&nbsp;
        <img class="rideicon" src="assets/icon/location.png">
        <p *ngIf="post.feeling">Feeling {{ post.feeling }}</p>&nbsp;
        <img *ngIf="post.feeling" class="rideicon" src="assets/icon/feeling/{{ post.feeling }}.png"> 
       </ion-row>
       <br> 
      <img [src]="post.image" *ngIf="post.image"/>
      <ion-card-content>  
        <p>{{ post.post_content }}</p>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <button class="buko" (click)="CommentPage(post.post_id)" ion-button icon-left clear medium>
            <ion-icon name="text"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>
